/*===== Base Styles =====*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?qpazhp');
  src:url('../fonts/icomoon.eot?#iefixqpazhp') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qpazhp') format('truetype'),
    url('../fonts/icomoon.woff?qpazhp') format('woff'),
    url('../fonts/icomoon.svg?qpazhp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e052";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}

/*===== Base Styles =====*/

input:not(#message-text) {
  display: block;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/* Fix the checkbox hack button */
input[type=checkbox]:checked ~ div
/* Fix the checkbox hack button above */

.pointer {
  cursor: pointer;
}

body {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

form:not(.message-text) {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

footer:not(.message-box) {
  text-align: center;
}

nav li {
  display: inline-block;
  display-list-style: none;
}

.display-block li{
  display: block;
}

.message-box {
  border: 1px solid black;
  margin: 0;
}

input[name='message-text'] {
  width: 79.2%;
}

/* Layout */

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > article {
  width: 66%;
  padding: 10px;
}

.flexbox-container > aside {
  width: 33%;
  padding: 10px;
}

.flexbox-container > article:first-child {
  margin-right: 20px;
}

/*Mobile display*/
@media(min-width:400px) {
  .header__nav--button{
    background-color: rgb(255, 0, 0);
  }
  .chatArea{
    max-width: 100%;
  }
  .message__emocon--enter{

  }
/*slide menu*/
  li{
    padding: 10px;
    margin-bottom: 5px;
  }
  li:nth-child(even){
    background: linear-gradient(to left,rgb(165, 106, 166),rgb(163, 61, 166));
  }
  li:nth-child(odd){
    background: linear-gradient(to left,rgba(217, 24, 40,.8),rgb(217, 56, 56));
  }
  li:nth-child(3n){
    background: linear-gradient(to left,rgba(136,187,254,.8),rgb(50, 137, 254));
  }
  li:nth-child(4n){
    background: linear-gradient(to left,rgb(242, 146, 56),rgba(242,116,5,.8));
  }
  .footer__Button{
    margin: 0 auto;
  }
}
/*Log in*/
h1{
  border: 1px solid black;
  padding: 10px;
}
#signIN{
  border-top: 10px;
}

/*Desktop users*/
ul{
  padding: 0;
}
.nav__Button{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.aside__Rooms{

}
p{
  margin-bottom: 118px;
}
