/*Mobile display*/
@media(min-width:400px) {
  .header__nav--button{
    background-color: rgb(255, 0, 0);
  }
  .chatArea{
    max-width: 100%;
  }
  .message__emocon--enter{

  }
/*slide menu*/
  li{
    padding: 10px;
    margin-bottom: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  li:nth-child(even){
    background: linear-gradient(to left,rgb(165, 106, 166),rgb(163, 61, 166));
  }
  li:nth-child(odd){
    background: linear-gradient(to left,rgba(217, 24, 40,.8),rgb(217, 56, 56));
  }
  li:nth-child(3n){
    background: linear-gradient(to left,rgba(136,187,254,.8),rgb(50, 137, 254));
  }
  li:nth-child(4n){
    background: linear-gradient(to left,rgb(242, 146, 56),rgba(242,116,5,.8));
  }
  .footer__Button{
    margin: 0 auto;
  }
}
/*Log in*/
h1{
  border: 1px solid black;
  padding: 10px;
}

/*Desktop users*/
ul{
  padding: 0;
}
.nav__Button{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.aside__Rooms{

}

li:hover{
  background: rgb(106, 220, 9);
}
article{
  border-radius: 5px;
}

/* Hidden Chat Room Feature */
.items {
  width: 61%;
  margin-right: 2%;
  /*float: left;*/
  position: relative; top: 1%;
  display: none;
}
